@import url("../_core.css");

body {
    overflow-y: scroll;
}

.userOrder-menu-container {
    overflow: hidden;
    display: block;
    float: left;
    margin: 0 0 40px 0;
}

.userOrder-menu-container div {
    float: left;
    padding: 10px 20px;
    background-color: #50aecc;
    margin: 0 6px 6px 6px;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
}

.userOrder-menu-container div:hover {
    background: #1a657d;
}



.userOrder-categoriesSelector-showContainer {
    display: none;
}

.userOrder-categoriesSelector-showContainer.show {
    display: block;
}

.userOrder-groupsSelector-container {
    background: #fff;
    overflow: hidden;
    float: left;
    margin: 0 0 40px 0;
    width: 100%;
}

.productTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

.productTable tr {
    border-bottom: 1px solid #ccc;
}

.productTable tr:hover:first-child {
    background: transparent;
}

.productTable tr:hover {
    background: #e4e4e4;
}

.productTable tr:last-child {
    border-bottom: 0;
}

tr.userOrder-productTable-titleTr th {
    border-bottom: 2px solid #ccc;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    min-width: 60px;
}

tr.userOrder-productTable-titleTr th:first-child {
    width: 100%;
}

th.userOrder-price {
    font-size: 12px;
}

td.userOrder-productTable-number {
    text-align: center;
    min-width: 50px;
    font-size: 12px;
}

td.userOrder-productTable-text {
    padding: 6px 0;
    width: 100%;
}

td.userOrder-productTable-text div:first-child {
    width: 100%;
    float: left;
    font-weight: bold;
    font-size: 14px;
}

td.userOrder-productTable-text div:last-child {
    width: 100%;
    float: left;
    font-size: 12px;
}

td.userOrder-price-cell {
    text-align: center;
}

td.userOrder-price-cell div {
    background: #50AECC;
    display: inline-block;
    padding: 6px 0;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    width: 100%;
    margin: 5px 0;
}

td.userOrder-price-cell div:hover {
    background: #1a657d;
}

td.userOrder-price-cell div::after {
    content: " €";
}


.userOrder-additionalDialog-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    display: none;
}

.userOrder-additionalDialog-container.userOrder-additionalDialog-showContainer {
    display: block;
}

.userOrder-additionalDialog-opacity {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
    z-index: 110;
    position: absolute;
}

.userOrder-additionalDialog-boxCenter {
    overflow: hidden;
    margin: 10% auto 0;
    min-width: 210px;
}

.userOrder-additionalDialog-box {
    background: #fff;
    position: relative;
    display: block;
    z-index: 110;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.userOrder-additionalDialog-additionBox {
    overflow: hidden;
    width: 100%;
}

.userOrder-additionalDialog-additionBoxMenus div {
    float: left;
    overflow: hidden;
    width: 45%;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0 0 5px 0;
    font-size: 12px;
    cursor: pointer;
}

.userOrder-additionalDialog-additionBoxMenus div:hover {
    background: #e4e4e4;
}

.userOrder-additionalDialog-additionBox span.title {
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    margin: 0 0 14px 0;
    border-bottom: 1px solid #ccc;
    padding: 0 0 3px 0;
}

.userOrder-additionalDialog-additionBoxMenus div:nth-child(2n) {
    float: right;
}

.userOrder-additionalDialog-additionBoxMenus div span:first-child {
    float: left;
}

.userOrder-additionalDialog-additionBoxMenus div span:last-child {
    float: right;
}

.userOrder-additionalDialog-additionBoxMenus div span:last-child::after {
    content: " €";
}


