<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Adminbereich</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
    <link href="../../static/css/_core.css" th:href="@{/css/_core.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/admin/admin.css" th:href="@{/css/admin/admin.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/admin/deliveryDataDialog.css" th:href="@{/css/admin/deliveryDataDialog.css}" rel="stylesheet" media="screen"/>
    <script src="../../static/js/thirdParty/jquery-2.1.4.min.js" th:src="@{/js/thirdParty/jquery-2.1.4.min.js}"></script>
    <script src="../../static/js/admin/overview/_app.js" th:src="@{/js/admin/overview/_app.js}"></script>
</head>
<body>

<div class="core-dialog-container">
    <div th:replace="fragments/deliveryDataDialog :: inputDialog">&nbsp;</div>
</div>

<div class="core-dialog-container">
    <div th:replace="fragments/serverErrorDialog :: serverError">&nbsp;</div>
</div>

<div class="core-container-header">
    <div class="core-container-center">
        <h1>Admin</h1>
        <div th:replace="fragments/header :: header">&nbsp;</div>
    </div>
</div>

<div class="core-container-center">
    <div class="core-link-container-box admin-container_cardDiv">
        <a href="/admin/shoppingcard" class="admin-button-enabled admin-button_card">Warenkorb</a>
    </div>


    <div class="core-link-container-box admin-container_umnmtDiv">
        <a href="/admin/usermanagement" class="admin-button-enabled admin-button_umgmt">Benutzerverwaltung</a>
    </div>

    <div class="core-container-box admin-container_bulkOrderDiv">
        <label class="admin-label admin-label_catalogPrefix">Kein Produktkatalog vorhanden</label>
        <select class="admin-combobox admin-combobox_productCatalogs" name="productCatalogs" size="0"></select>
        <label class="admin-label admin-label_catalogPostfix"></label>
        <input class="admin-inputField_time" maxlength="5" placeholder="hh:mm" readonly="true"/>
        <div class="admin-submitButton admin-submitButton-enabled admin-submitButton_activateCtlg">Aktivieren</div>
        <label class="admin-errorLableTimepicker admin-errorlabel_time">Ungültige Uhrzeit!</label>
    </div>

    <div class="core-link-container-box admin-container_printDiv">
        <a class="admin-button-enabled admin-button_print">Druckinformationen bearbeiten</a>
    </div>

    <div class="core-link-container-box admin-container_catalogDiv">
        <a href="#" class="admin-button-enabled admin-button_uploadcatalog">Produktkatalog hochladen</a>
        <input type="file" id="file" class="admin-inputField_file" accept=".json"/>
    </div>

    <div class="core-container-box">
        <label class="admin-label">Beispiel-Produktkatalog herunterladen</label>
        <div class="admin-button-box">
            <div class="admin-submitButton admin-submitButton-enabled admin-submitButton_expert">Experte</div>
            <div class="admin-submitButton admin-submitButton-enabled admin-submitButton_simple">Simple</div>
        </div>
    </div>
</div>

</body>
</html>


