<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/_core.css" th:href="@{/css/_core.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div id="header">
    <div class="container">
        <h1>Initiales Passwort setzen</h1>
    </div>
</div>


<div class="core-container-initial">
    <div class="core-container-box">
        <form id="initialSetup-form" th:action="@{/admin/initialpassword}" method="post">
            <div class="core-container-boxHeader">Bitte legen Sie Ihre Zugangsdaten fest</div>
            <input type="text" name="firstName" th:value="${firstName}" class="core-inputField" placeholder="Vorname"/>
            <input type="text" name="lastName" th:value="${lastName}" class="core-inputField" placeholder="Nachname"/>
            <input type="text" name="username" th:value="${username}" class="core-inputField" placeholder="Benutzername" readonly="readonly"/>
            <input type="password" name="password" class="core-inputField" placeholder="Passwort"/>
            <input type="password" name="password_check" class="core-inputField" placeholder="Passwort wiederholen"/>
            <div class="core-submitButton" onClick="document.forms['initialSetup-form'].submit();">Speichern</div>
        </form>
    </div>
</div>
<!--
<div id="main">
    <div class="container">
        <form th:action="@{/admin/initialpassword}" method="post">
            <div>
                <label> Benutzer : <input type="text" name="username" th:value="${username}"/> </label>
            </div>
            <div>
                <label> Passwort vergeben: <input type="text" name="password"/> </label><br/>
            </div>
            <div>
                <input type="submit" value="Registrieren"/>
            </div>
        </form>
    </div>
</div>
-->
</body>
</html>