<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>

<div id="header">
    <div class="container">
        <h1>Initiales Passwort setzen</h1>
    </div>
</div>

<div id="main">
    <div class="container">
        <form th:action="@{/admin/initialpassword}" method="post">
            <div>
                <label> Benutzer : <input type="text" name="username" th:value="${username}"/> </label>
            </div>
            <div>
                <label> Passwort vergeben: <input type="text" name="password"/> </label><br/>
            </div>
            <div>
                <input type="submit" value="Registrieren"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>