<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>UserManagement</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
    <link href="../../static/css/admin/shoppingCard.css" th:href="@{/css/admin/shoppingCard.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/_core.css" th:href="@{/css/_core.css}" rel="stylesheet" media="screen"/>
    <script src="../../static/js/thirdParty/jquery-2.1.4.min.js" th:src="@{/js/thirdParty/jquery-2.1.4.min.js}"></script>
    <script src="../../static/js/admin/shoppingCard/_app.js" th:src="@{/js/admin/shoppingCard/_app.js}"></script>
</head>
<body>

    <div class="core-container-header">
        <div class="core-container-center">
            <h1>Admin</h1>
            <div th:replace="fragments/header :: header">&nbsp;</div>
        </div>
    </div>

    <div class="core-container-center">
        <div class="core-container-box">
            <table class="sc-orderTable card-orderTable">
                <thead>
                    <tr class="sc-orderTable-headlines ">
                        <th class="card-orderTable_sortButton sc-orderTable-sortIcon">Benutzer</th>
                        <th class="card-orderTable_sortButton sc-orderTable-sortIcon">Nr</th>
                        <th class="card-orderTable_sortButton sc-orderTable-sortIcon">Artikel</th>
                        <th class="card-orderTable_sortButton sc-orderTable-sortIcon">Extras</th>
                        <th class="card-orderTable_sortButton sc-orderTable-sortIcon">Größe</th>
                        <th class="card-orderTable_sortButton sc-orderTable-sortIcon">Preis</th>
                        <th class="card-orderTable_sortButton sc-orderTable-sortIcon"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr orderId='1'>
                        <td>Sascha Walther</td>
                        <td>1</td>
                        <td>Pizza</td>
                        <td>Bla, Bla, Bla</td>
                        <td>Groß</td>
                        <td>7,99 €</td>
                        <td class="um-userTable-outstandingIcon card-orderTable_stateButton"></td>
                        <td class="um-userTable-trashIcon card-orderTable_deleteButton"></td>
                    </tr>
                    <tr orderId='2'>
                        <td>Klaus Kinski</td>
                        <td>2</td>
                        <td>Pizza</td>
                        <td>Bla, Bla, Bla</td>
                        <td>klein</td>
                        <td>3,99 €</td>
                        <td class="um-userTable-outstandingIcon card-orderTable_stateButton"></td>
                        <td class="um-userTable-trashIcon card-orderTable_deleteButton"></td>
                    </tr>
                    <tr orderid='3'>
                        <td>Adam Plumpssack</td>
                        <td>3</td>
                        <td>Nuldez</td>
                        <td>Bla, Bla, Bla</td>
                        <td>klein</td>
                        <td>5,50 €</td>
                        <td class="um-userTable-paidIcon card-orderTable_stateButton"></td>
                        <td class="um-userTable-trashIcon card-orderTable_deleteButton"></td>
                    </tr>
                    <tr orderid='4'>
                        <td>Ching Chong</td>
                        <td>9</td>
                        <td>Dönel</td>
                        <td>Bla, Bla, Bla</td>
                        <td>klein</td>
                        <td>12,99 €</td>
                        <td class="um-userTable-paidIcon card-orderTable_stateButton"></td>
                        <td class="um-userTable-trashIcon card-orderTable_deleteButton"></td>
                    </tr>
                    <tr orderid='5'>
                        <td>Ching Chang</td>
                        <td>10</td>
                        <td>Leis mit Klabben</td>
                        <td>Bla, Bla, Bla</td>
                        <td>klein</td>
                        <td>7,99 €</td>
                        <td class="um-userTable-outstandingIcon card-orderTable_stateButton"></td>
                        <td class="um-userTable-trashIcon card-orderTable_deleteButton"></td>
                    </tr>
                    <tr orderid='6'>
                        <td>Mr Wong</td>
                        <td>12</td>
                        <td>Muschu</td>
                        <td>Bla, Bla, Bla</td>
                        <td>klein</td>
                        <td>4,99 €</td>
                        <td class="um-userTable-paidIcon card-orderTable_stateButton"></td>
                        <td class="um-userTable-trashIcon card-orderTable_deleteButton"></td>
                    </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>