<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>UserManagement</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
    <link href="../../static/css/admin/userManagement.css" th:href="@{/css/admin/userManagement.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/_core.css" th:href="@{/css/_core.css}" rel="stylesheet" media="screen"/>
    <script src="../../static/js/thirdParty/jquery-2.1.4.min.js" th:src="@{/js/thirdParty/jquery-2.1.4.min.js}"></script>
    <script src="../../static/js/admin/userManagement/UserFunction.js" th:src="@{/js/admin/userManagement/UserFunction.js}"></script>
    <script src="../../static/js/admin/userManagement/UserService.js" th:src="@{/js/admin/userManagement/UserService.js}"></script>
    <script src="../../static/js/admin/userManagement/TableController.js" th:src="@{/js/admin/userManagement/TableController.js}"></script>
    <script src="../../static/js/admin/userManagement/NewUserController.js" th:src="@{/js/admin/userManagement/NewUserController.js}"></script>
    <script src="../../static/js/Constants.js" th:src="@{/js/Constants.js}"></script>
    <script src="../../static/js/WebServiceAccess.js" th:src="@{/js/WebServiceAccess.js}"></script>
</head>
<body>

    <div class="core-container-header">
        <div class="core-container-center">
            <h1>Admin</h1>
            <div th:replace="fragments/header :: header">&nbsp;</div>
        </div>
    </div>

    <div class="core-container-center">
        <div class="core-container-box um-newUser_container">
            <div class="core-container-boxHeader">Einen neuen Nutzer eintragen ...</div>
            <div class="um-newUser-fieldContainer row1">
                <input type="text" class="core-inputField um-newUser_firstName" maxlength="100" placeholder="Vorname" />
                <input type="text" class="core-inputField um-newUser_lastName" maxlength="100" placeholder="Nachname"/>
            </div>

            <div class="um-newUser-fieldContainer row2">
                <input type="text" class="core-inputField um-newUser_email" maxlength="100" placeholder="E-Mail"/>
                <div class="um-newUser-separateContainer">
                    <div class="um-newUser-discountContainer">
                        <label>Rabatt</label>
                        <input type="number" min="0" step="0.1" value="0" class="core-inputField um-newUser_discount" />
                    </div>
                    <div class="um-newUser-isAdminContainer">
                        <label>Admin Rechte?</label>
                        <input type="checkbox" class="um-newUser_isAdmin" />
                    </div>
                </div>
            </div>

            <div class="core-submitButton um-newUser_submit">Bestätigen</div>
            <label class="core-warningLabel um-newUser-hiddenWarning um-newUser_warningLabel">Fehlende Einträge oder die E-Mail ist nicht valide!</label>
        </div>

        <div class="core-container-box">
            <div class="core-container-boxHeader">Einen Nutzer suchen ...</div>
            <input class="core-inputField um-inputField_findUser" maxlength="100" placeholder="Nachname"/>
        </div>

        <div class="core-container-box">
            <table class="um-userTable">
                <tr class="um-userTable-headlines">
                    <th>Admin</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>E-Mail</th>
                    <th>Rabatt</th>
                    <th>Löschen</th>
                </tr>
            </table>
        </div>
    </div>


</body>
</html>