<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>UserManagement</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
    <link href="../../static/css/admin/app.css" th:href="@{/css/admin/app.css}" rel="stylesheet" media="screen"/>
    <script src="../../static/js/thirdParty/jquery-2.1.4.min.js" th:src="@{/js/thirdParty/jquery-2.1.4.min.js}"></script>
    <script src="../../static/js/admin/userManagement/UserFunction.js" th:src="@{/js/admin/userManagement/UserFunction.js}"></script>
    <script src="../../static/js/admin/userManagement/UserService.js" th:src="@{/js/admin/userManagement/UserService.js}"></script>
    <script src="../../static/js/Constants.js" th:src="@{/js/Constants.js}"></script>
    <script src="../../static/js/WebServiceAccess.js" th:src="@{/js/WebServiceAccess.js}"></script>
</head>
<body>

<div id="header">
    <div class="container">
        <h1>Admin</h1>
        <div th:replace="fragments/header :: header">&nbsp;</div>
    </div>
</div>



</body>
</html>