<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <title>WebOrder</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
    <link href="../../static/css/order/userOrder.css" th:href="@{/css/order/userOrder.css}" rel="stylesheet" media="screen"/>
    <script src="../../static/js/thirdParty/jquery-2.1.4.min.js" th:src="@{/js/thirdParty/jquery-2.1.4.min.js}"></script>
    <script src="../../static/js/userOrder/_app.js" th:src="@{/js/userOrder/_app.js}"></script>
</head>
<body>
<!-- <div id="ajax-load"><img width="220" height="19" src="../../static/img/ajax-loader.gif" th:src="@{/img/ajax-loader.gif}"/></div> -->

    <div class="core-dialog-container">
        <div th:replace="fragments/serverErrorDialog :: serverError">&nbsp;</div>
        <div th:replace="fragments/orderAdditionalDialog :: orderAdditional">&nbsp;</div>
    </div>

    <div th:replace="fragments/header :: header">&nbsp;</div>
    <!--<div class="core-container-header">
        <div class="core-container-center">
            <div th:replace="fragments/header :: header">&nbsp;</div>
        </div>
    </div>-->

    <div class="core-container-center">
        <div class="userOrder-menu-container userOrder-menu_container"></div>

        <div class="userOrder-categories-container userOrder-categories_container"></div>
    </div>

<div th:replace="fragments/footer :: footer">&nbsp;</div>

</body>
</html>