<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Bestellen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/order/app.css" th:href="@{/css/order/app.css}" rel="stylesheet" />
    <script src="../../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script src="../../static/js/order/service.js" th:src="@{/js/service.js}"></script>
    <script src="../../static/js/order/htmlControl.js" th:src="@{/js/htmlControl.js}"></script>
    <script src="../../static/js/order/orderControl.js" th:src="@{/js/orderControl.js}"></script>
    <script src="../../static/js/order/function.js" th:src="@{/js/function.js}"></script>
</head>
<body>

<div id="container-order">
    <div id="container-order-opacity" onclick="orderControl.closeExtraMenu()"></div>
    <div id="container-order-div">
        <div class="buttonClose" onclick="orderControl.closeExtraMenu()"><i class="fa fa-times fa-2" aria-hidden="true"></i></div>

        <div class="box">
            <input type="text" id="input-User" placeholder="Nachname, Vorname" onkeyup="orderControl.checkUserDiscount(this);"/>
        </div>

        <div id="menu-extra"></div>

        <table class="box">
            <tr>
                <td id="productItem"></td>
                <td id="productPrice" price=""></td>
            </tr>
            <tr>
                <td>Extra Zutaten</td>
                <td id="menu-extra-calc">0.00 €</td>
            </tr>
            <tr>
                <td>Rabatt</td>
                <td id="discount">- 0.00 €</td>
            </tr>
        </table>

        <div id="order-accept">
            <button id="order-click-button" onclick="orderControl.orderAcceptButton(this)">0.00 €</button>
            <button id="order-click-button-accepted"></button>
        </div>
    </div>
</div>

<div id="header">
    <div class="container">
        <h1>Speedpizza</h1>
        <div th:replace="fragments/header :: header">&nbsp;</div>
        <div id="categorySelector"></div>
    </div>
</div>

<div id="main">
    <div class="container">
        <div class="rest invisible" id="rest">
            <div id="zusatzList"></div>
            <div id="productList"></div>
        </div>
    </div>
</div>

<!--<div id="main">
    <div class="container" th:unless="${#lists.isEmpty(allProducts)}">
        <div th:each="product : ${allProducts}">
            <div>Name</div>
            <div th:text="${{product.name}}"></div>
            <div>Type</div>
            <div th:text="${{product.type}}"></div>
            <br/>
        </div>

        <form id="order" th:object="${order}" th:action="@{/templates/order}" action="#" method="post" role="form">
            <input type="number" class="form-control" th:field="${order.id}" id="id" name="id" value="1234"/>
            <div><input type="submit" value="Bestellen"/></div>
        </form>
    </div>

</div>-->

</body>
</html>