<div class="confirmationDialog-container confirmationDialog_container" th:fragment="confirmationDialog" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="confirmationDialog-opacity"></div>
    <div class="confirmationDialog-main">
        <div class="confirmationDialog-header"><div class="confirmationDialog_closeButton"></div></div>
        <div class="confirmationDialog-box">
            <div class="confirmationDialog_messageDiv">Möchten Sie die Bestellung wirklich löschen?</div>
            <div class="confirmationDialog-fieldContainer">
                <div class="confirmationDialog-submitButton confirmationDialog_acceptButton">Ja</div>
                <div class="confirmationDialog-submitButton confirmationDialog_cancelButton">Nein</div>
            </div>
        </div>
    </div>
</div>