<div class="admin-inputDialog-container admin-inputDialog_container" th:fragment="inputDialog" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="admin-inputDialog-opacity"></div>
    <div class="admin-inputDialog-box">
        <div class="admin-inputDialog-title">Lieferdaten</div>
        <input type="text" class="core-inputField admin-inputDialog_company" placeholder="Firma" />
        <input type="text" class="core-inputField required admin-inputDialog_firstName" placeholder="Name*"/>
        <input type="text" class="core-inputField required admin-inputDialog_lastname" placeholder="Vorname*"/>
        <div class="admin-inputDialog-fieldContainer row1">
            <input type="text" class="core-inputField required admin-inputDialog_street" placeholder="Straße*"/>
            <input type="text" class="core-inputField required admin-inputDialog_number" placeholder="Hausnummer*"/>
        </div>
        <div class="admin-inputDialog-fieldContainer row2">
            <input type="tel" class="core-inputField required admin-inputDialog_zipCode" placeholder="PLZ*"/>
            <input type="text" class="core-inputField required admin-inputDialog_city" placeholder="Ort*"/>
        </div>
        <input type="text" class="core-inputField required admin-inputDialog_phone" placeholder="Telefonnummer*"/>
        <input type="text" class="core-inputField required admin-inputDialog_eMail" placeholder="E-Mail*"/>
        <textarea class="admin-inputDialog-textArea admin-inputDialog_comment" placeholder="Sonstige Angaben"></textarea>
        <lable class="admin-inputInfoLable">*Pflichtfeld</lable>
        <div class="admin-inputDialog-fieldContainer row3">
            <div class="admin-submitButton admin-submitButton-enabled admin-inputDialog_cancelButton">Abbrechen</div>
            <div class="admin-submitButton admin-submitButton-enabled admin-inputDialog_acceptButton">Speichern</div>
        </div>
        <label class="core-warningLabel admin-inputDialog_warningLabel">Bitte überprüfen Sie Ihre Eingaben!</label>
    </div>
</div>