<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    ...
</head>
<body>
<div th:class="${isLoggedIn} ? 'core-header core-header_loggedIn' : 'core-header core-header_default'" th:fragment="header">
    <div th:if="${isLoggedIn}" class="core-header-content">
        <div th:if="${isAdmin}" th:class="${#httpServletRequest.requestURI.contains('admin')} ? 'core-header-menu core-header-menu-active' : 'core-header-menu core-header-menu-inactive'"><a href="../admin">Administratorbereich</a></div>
        <div th:class="${#httpServletRequest.requestURI.contains('order')} ? 'core-header-menu core-header-menu-active' : 'core-header-menu core-header-menu-inactive'"><a href="../order">Bestellbereich</a></div>
        <div class="core-header-user">
            <form id="logout-form" th:action="@{/logout}" method="post">
                <span th:inline="text"> Angemeldet als [[${#httpServletRequest.remoteUser}]] <div class="core-logout-button" onClick="document.forms['logout-form'].submit();"></div></span>
            </form>
        </div>
    </div>
</div>
</body>
</html>