<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    ...
</head>
<body>

<div class="container" th:fragment="header">

    <div th:if="${isAdmin}">
        <a th:if="${'admin' != pageType}" href="../admin">Zur Administratorseite wechseln</a>
        <a th:if="${'order' != pageType}" href="../order">Zur Bestellseite wechseln</a>
    </div>

    <p th:inline="text">[[${#httpServletRequest.remoteUser}]]</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Ausloggen"/>
    </form>
</div>

</body>
</html>