<div class="userOrder-additionalDialog-container userOrder-additionalDialog_container" th:fragment="orderAdditional" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="userOrder-additionalDialog-opacity"></div>
    <div class="userOrder-additionalDialog-boxCenter">
        <div class="userOrder-additionalDialog-boxMain">
            <div class="userOrder-additionalDialog-actionBox userOrder-additionalDialog-actionBoxClose userOrder-additionalDialog_closeDialog">X</div>
            <div class="userOrder-additionalDialog-box userOrder-additionalDialog_additionBox"></div>

            <div class="userOrder-additionalDialog-box userOrder-additionalDialog-orderOverviewContainer">
                <span class='title'>Bestellübersicht / Bestellung bestätigen</span>
                <div class="userOrder-additionalDialog_orderOverviewText">
                    <span></span><span></span>
                </div>
                <div class="userOrder-additionalDialog_orderOverviewAddition">
                    <span>Extrazutaten</span><span>0</span>
                </div>
                <div class="userOrder-additionalDialog_orderOverviewUserDiscount">
                    <span>Benutzer-Rabatt</span><span></span>
                </div>
            </div>

            <div class="userOrder-additionalDialog-actionBox userOrder-additionalDialog-actionBoxSubmit userOrder-additionalDialog-orderSubmitContainer">
                <div class="userOrder-additionalDialog-orderSubmit userOrder-additionalDialog_orderSubmit"></div>
            </div>
        </div>
    </div>
</div>