<div class="admin-inputDialog-container admin-inputDialog_container" th:fragment="inputDialog" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="admin-inputDialog-opacity"></div>
    <div class="admin-inputDialog-box">
        <div class="admin-inputDialog-title">Lieferdaten bearbeiten...</div>
        <input type="text" class="admin-inputDialog-inputField admin-inputDialog_company" placeholder="Firma" />
        <input type="text" class="admin-inputDialog-inputField admin-inputDialog_firstName" placeholder="Name" />
        <input type="text" class="admin-inputDialog-inputField admin-inputDialog_lastname" placeholder="Vorname" />
        <div class="admin-inputDialog-fieldContainer row1">
            <input type="text" class="admin-inputDialog-inputField admin-inputDialog_street" placeholder="Straße" />
            <input type="text" class="admin-inputDialog-inputField admin-inputDialog_number" placeholder="Hausnummer" />
        </div>
        <div class="admin-inputDialog-fieldContainer row2">
            <input type="tel" class="admin-inputDialog-inputField admin-inputDialog_zipCode" placeholder="PLZ" />
            <input type="text" class="admin-inputDialog-inputField admin-inputDialog_city" placeholder="Ort" />
        </div>
        <input type="tel" class="admin-inputDialog-inputField admin-inputDialog_phone" placeholder="Telefonnummer" />
        <input type="email" class="admin-inputDialog-inputField admin-inputDialog_eMail" placeholder="E-Mail" />
        <textarea class="admin-inputDialog-textArea admin-inputDialog_comment" placeholder="Sonstige Angaben"></textarea>
        <div class="admin-inputDialog-fieldContainer row3">
            <div class="admin-submitButton admin-submitButton-enabled admin-inputDialog_cancelButton">Abbrechen</div>
            <div class="admin-submitButton admin-submitButton-enabled admin-inputDialog_acceptButton">Speichern</div>
        </div>
    </div>
</div>