<div class="userOrder-additionalDialog-container userOrder-additionalDialog_container" th:fragment="orderAdditional" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="userOrder-additionalDialog-opacity"></div>
    <div class="userOrder-additionalDialog-boxCenter">
        <div class="userOrder-additionalDialog-box userOrder-additionalDialog_additionBox"></div>

        <div class="userOrder-additionalDialog-orderOverviewContainer">
            <div class="userOrder-additionalDialog_orderOverviewText">
                <span></span><span></span>
            </div>
            <div class="userOrder-additionalDialog_orderOverviewAddition">
                <span></span><span></span>
            </div>
            <div class="userOrder-additionalDialog_orderOverviewUserDiscount">
                <span></span><span></span>
            </div>
        </div>

        <div class="userOrder-additionalDialog-orderSubmitContainer">

        </div>
    </div>
</div>