<div class="core-serverError-container core-serverError_container" th:fragment="serverError" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="core-serverError-opacity"></div>
    <div class="core-serverError-boxCenter">
        <div class="core-serverError-box">
            <div class="core-serverError-title core-serverError_title">Cannot Connect to Server</div>
            <div class="core-serverError-text core-serverError_text"></div>
            <div class="core-serverError-refreshButton core-serverError_refreshButton">Refresh Page</div>
        </div>
    </div>
</div>