@import url("../_core.css");

.admin-button-enabled {
    cursor: pointer;
    transition: 0.3s linear;
    border: solid 1px #fff;
}

.admin-button-enabled:hover {
    background-color: #f7fdff;
    border: solid 1px #2e90ae;
}

.core-container-box-button{
    padding: 0px;
}

.admin-button-disabled{
    color: #dddddd;
    cursor: not-allowed;
    border: solid 1px #fff;
}

.admin-button-box{
    float: right
}

.admin-button-box :first-child{
    float: left;
    margin-right: 5px;
}
.admin-button-box :last-child{
    float: right;
    margin-left: 5px;
}

.admin-submitButton-disabled{
    color: #dddddd;
    cursor: not-allowed;
}

.admin-label {
    float: left;
    padding: 5px 5px 0px 0px;
}

.admin-errorLableTimepicker {
    color: #F00;
    padding: 5px 5px 0px 0px;
}

.admin-submitButton{
    min-width: 120px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 5px;
    float: right;
    cursor: pointer;
}

.admin-submitButton-enabled{
    background-color: #ccc;
    color: #000;
}

.admin-submitButton-enabled:hover {
    background-color: #FF0000;
}

.admin-submitButton-disabled{
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

.admin-combobox{
    font:inherit;
    float: left;
    padding: 4px;
    margin-right: 5px;
}

.admin-inputField_time{
    width: 50px;
    padding: 4px;
    border: 1px solid #bbb;
    background-color: #fff;

    font: inherit;
}

.admin-success-blink{
    animation: success-blink 0.5s ease-out;
}

.admin-failure-blink{
    animation: failure-blink 0.5s ease-out;
}

@keyframes success-blink {
    5%  {background-color: lightgreen;}
}

@keyframes failure-blink {
    5%  {background-color: #f88;}
}

.admin-loading{
    background: url(../../img/loader.gif) no-repeat center;
    background-size: 32px;
}

.hide{
    opacity: 0.2;
}
