@import url("../_core.css");

.um-newUser-fieldContainer {
    width: 100%;
    float: left;
    height: 40px;
}

.um-newUser-discountContainer,
.um-newUser-isAdminContainer {
    width: 50%;
    text-align: center;
    min-width: 50%;
}

.um-newUser-discountContainer {
    float: left;
}

.um-newUser-discountContainer label {
    float: left;
    padding: 7px 15px 7px 0;
}

.um-newUser-discountContainer input[type="number"] {
    width: 20%;
    min-width: 20%;
}

.um-newUser-isAdminContainer {
    float: right;
    padding: 7px 0;
}

.um-newUser-separateContainer {
    width: calc(50% - 6px);
    float: right;
}

.um-newUser-fieldContainer.row1 input[type="text"]:first-child,
.um-newUser-fieldContainer.row2 input[type="text"]:first-child {
    width: calc(50% - 20px);
    float: left;
}

.um-newUser-fieldContainer.row1 input[type="text"]:last-child {
    width: calc(50% - 20px);
    float: right;
}

.um-newUser-fieldContainer.row2 {
    padding: 0 0 10px 0;
}

.um-newUser-warningLabel {
    margin: 10px 0 0 0;
}

.um-newUser-hiddenWarning {
    display: none;
}

.um-newUser-showWarning {
    display: block;
}

.um-newUser-inputError {
    border: 1px solid #a9a9a9;
    border-bottom-color: #ff0000;
}


.um-userTable {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

.um-userTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.um-userTable th {
    text-transform: uppercase;
    text-align: left;
    background-color: #3595B4;
    color: white;
    font-size: 12px;
}

.um-userTable th,
.um-userTable td {
    border: 1px solid black;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.um-userTable td {
    vertical-align: top;
}

.um-userTable td input {
    width: 100%;
}

.um-userTable td input:required:invalid {
    border: 1px solid red;
}

.um-userTable-headlines th:nth-child(1),
.um-userTable-headlines th:nth-child(5),
.um-userTable-headlines th:nth-child(6){
    width: 8%;
    max-width: 8%;
}

.um-userTable-headlines th:nth-child(2),
.um-userTable-headlines th:nth-child(3),
.um-userTable-headlines th:nth-child(4) {
    width: 25%;
}

.um-userTable td:nth-child(1),
.um-userTable td:nth-child(6) {
    text-align: center;
}

.um-userTable td:nth-child(6) {
    padding: 0;
}

.um-userTable-showIcon {
    opacity: 1;
    pointer-events: auto;
}

.um-userTable-activeCellEdit span {
    display: none;
}

.um-userTable-disableSelections {
    opacity: 0.5;
    pointer-events: none;
}

.um-userTable-iconSingle {
    width: 100%;
    float: left;
    height: 40px;
}

.um-userTable-iconMulti {
    width: 50%;
    height: 40px;
    float: left;
}

.um-userTable-deleteIcon {
    background: url(../../img/pen.png) no-repeat center;
    background-size: 16px;
}

.um-userTable-confirmIcon,
.um-userTable-aboardIcon {
    background: url(../../img/pen.png) no-repeat center;
    background-size: 16px;
}

.um-userTable-hiddenEditIcon .um-userTable-confirmIcon,
.um-userTable-hiddenEditIcon .um-userTable-aboardIcon {
    display: none;
}

.um-userTable-showIcon .um-userTable-deleteIcon {
    display: none;
}